<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Account</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Reference</th>
      <th>Date Created</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.reference }}</td>
        <td>{{ transaction.date_created }}</td>
        <td>{{ transaction.balance }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
