{% extends 'base.html' %}

{% block content %}
<div class="main1">
    <div class="left">
    <ul>
        <li><a href="{% url 'transaction_list' 1 %}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><i class="fa fa-ils"></i><a href="{% url 'transfer.create' %}">Payment</a><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Transfer</li>
        <li><i class="fa fa-money withdraw"></i><a href="{% url 'withdrawal.create'  %}">Withdrawal</a><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Cash</li>
        <li><i class="fa fa-undo"></i><a href="">Payment</a></li>
        <li><i class="fa fa-money"></i><a href="{% url 'deposit.create' %}">Deposit</a><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cash</li>
        <li><a href="1new page.html"><img src="img/126467.png"/>Logout </a></li>
    </ul>
</div>
<div class="detail">
<h1>Welcome, {{user.username}}!</h1>
<h3>Have a great day</h3>
<h2>Your Account details</h2>
<div class="ac">
<p><b>Account No </b> 12345678<br><br>
<b>Sort Code:</b> 00-11-22</p>
</div>
<div class="ac">
    <p><b>Total balance</b> £{{ transaction.balance }}<br><br>
        <b>Account Status</b> Saving
    <br><b>Active</b></p>

</div>

   
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Transaction Type</th>
        <th scope="col">Date Created</th>
        <th scope="col">Reference</th>
        <th scope="col">Amount</th>
        <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
       {% for transaction in transactions %}
    <tr>
      <th scope="row">{{ transaction.id }}</th>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.date_created }}</td>
      <td>{{ transaction.reference }}</td>
        <td>{{ transaction.amount }}</td>
      <td>{{ transaction.balance }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<

    {% endblock %}